#content {
    max-height: 100%;
}

#the-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 0 24px;
    padding-bottom: 20px;
}

#shorts {
    padding: 0 24px;
}

#shorts .-section-title {
    color: black;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
}

.-shorts-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 24px 0 32px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 48px;
}